@import url(https://fonts.googleapis.com/css?family=Sansita+One);

body {
	background-image: url("../resources/img/fundo2.png");
	font-family: Tahoma;
}

a:focus, a:hover {	
	text-decoration: none;
}

header {
	background: #FFF;
	background-image: url("../resources/img/fundopapel.png");
	box-shadow: 0px 5px 5px #000;
}

header, section {
	display: block;
}
#header-row{
	margin: 0;
}

#logo img {
	float: right;
	opacity: 0.9;
	filter: alpha(opacity = 90); /* For IE8 and earlier */
}

#usuario{
	text-align: right;
	margin-right: 10%;
	
}
/*Menu Principal*/
#menu-topo {
	border: 0;
	background: none;
	margin-bottom: 0;
	padding: 0;
	font-family: "Sansita One", cursive;
	font-size: 18px;
}

#menu-topo li a {
	background: #FF6700;
	color: #FFF;
	border: 1px solid #A74300;
	border-radius: 7px;
	box-shadow: inset 0px 5px 10px #FFAA70, inset 0px 3px 5px #FFc9a4;
	padding: 10px 15px;
	margin-right: 5px;
}

#menu-topo li a:hover {
	background: #3016B0;
	color: #FFF;
	border: 1px solid #1A0A6B;
	box-shadow: inset 0px 5px 10px #6D5BC4;
}

#header-direita, logo{
	display: inline-block;
	vertical-align: text-bottom;
}

#conteudo {
	background: #FFF;
	padding: 20px; 
	border-radius : 10px;
	text-align: center;
	border-radius: 10px;
	
}

#conteudo p{
	text-align: justify;
	font-size: 18px;
	
}

#coruja{
	background: #E2FE99;
	border: none;
	box-shadow: 5px 5px 10px #999, inset 0px 10px 15px #f7ffdd;
}

#coruja p{
	font-size: 1.6em;
	text-shadow: 1px 1px 0px #BEFD19;
}

#coruja img{
	
}

#coruja a{
	color: #9B3F00;
}

#coruja a:hover{
	color: #FF6700;
}

/*OpÃ§oes da pagina index (Entrar e Biblioteca)*/
.op-ini {
	float: none;
	display: inline-block;
}

.op-ini a:hover, a:focus{
	color: #fff;
}

.opt-home{
	
}

.opt-home img{
	margin: 0 auto 20px auto;
}

.btn-index {
	background: #3016B0;
	padding: 10px 15px;
	border-radius: 10px;
	border: 1px solid #1A0A6B;
	box-shadow: inset 0px 5px 10px #6D5BC4;
	
	font-family: "Sansita One", cursive;
	font-size: 18px;
	text-shadow: 1px 1px #1A0A6B;
	color: #FFF;
}

/*Opções interno*/
.opt-int{
	background: #C1B8F1;
	padding: 20px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px #999;
	box-shadow: 5px 5px 10px #999,inset 0px 10px 10px #F6F4FE;
	
	color: #222;
	font-family: "Sansita One", cursive;
	font-size: 24px;
	text-align: center;
	text-shadow: 0px 1px 0px #7F68F4;
}

.opt-int a{
	color: #111;
	
}

.opt-int a:hover{
	color: #fff;
}

/* Formulário */

.formulario {
	background: #FFA76B;
	padding: 20px;
	border: 1px solid #E97425;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 10px #999,inset 0px 10px 10px #FFD6BA;
	box-shadow: 5px 5px 10px #999,inset 0px 10px 10px #FFD6BA;
	color: #222;
	font-size: 18px;
	text-align: left;
	text-shadow: 0px 1px 0px #FF7619;	
}

.formulario .form-btn, .opt-btn {
	background: #86BA00;
	margin-right: 5px;
	padding: 5px 10px; 
	color : #111;
	border: 1px solid #FFF;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 3px 5px #CBF45F;
	box-shadow: inset 0px 3px 5px #CBF45F;
	
	font-family: "Sansita One", cursive;
	text-shadow: 1px 1px #6A9200;
	font-weight: bold;	
}

.formulario .form-btn .ui-button-text{
	padding: 0px;
}

.formulario .btn-txt {
	padding: 5px 10px;
}

.formulario .form-btn:hover {
	background: #6a9200;
	-webkit-box-shadow: inset 0px 5px 5px #364b00;
	box-shadow: inset 0px 5px 5px #2d3d01;
}

/*Prévia da página criada*/
.pg-previa{
	background-color: #fff;
	text-align: justify;
	text-shadow: none;
}


.btn-horizontal {
	text-align: center;
}

/* Visualização do livro */
.ui-widget-content{
	background: #fff;
	border: #fff;
}

#livro-view .ui-carousel-viewport{
	background-image: url("../resources/img/livro-fundo.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 750px;
}

#livro-view .ui-carousel .ui-carousel-header .ui-carousel-header-title{
	width: 60%;
}

#livro-view .ui-widget-header, #livros-grid .ui-widget-header{
	background: #FF6700;
	-webkit-box-shadow: inset 0px 3px 3px #FFC39A;
	box-shadow: inset 0px 5px 5px #FFC39A;
	border: 1px solid #9B3F00;
	
	color: #FFF;
	text-shadow: 0px 1px 1px #9B3F00;
}

/*Para que seja possível visualizar o fundo do livro*/
#livro-view .ui-widget-content{
	background-color: rgba(255, 255, 255, 0.0);
	/* IE 6/7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)";
	border: none;
}

/*Ícones do carousel*/
#livro-view .ui-icon-circle-triangle-e, #livros-grid .ui-icon-circle-triangle-e{
	background-image: url("../resources/img/proxima.png");
	background-position: 0;
}

#livro-view .ui-icon-circle-triangle-w, #livros-grid .ui-icon-circle-triangle-w{
	background-image: url("../resources/img/anterior.png");
	background-position: 0;
}

#livro-view .ui-icon-radio-on{
	background-image: url("../resources/img/fechado.png");
	background-position: 0;
}

#livro-view .ui-icon-radio-off{
	background-image: url("../resources/img/aberto.png");
	background-position: 0;
}
/*-----------------*/

#livro-view .ui-carousel-header-title{
	font-size: 18px;
}

#livro view .ui-widget-content .ui-icon{
	background: none;
}

#livro-view .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item{
	padding: 40px 60px 80px 60px;
	width: 597px;
	height: 100%;
	text-align: justify;
}

#livro-view .pagina-content{
	height: 100%;
	width: 100%;
	position: relative;
}

#livro-view .num-pagina{
	text-align: center;
	position: absolute;
	bottom: 0;
}

#livros-grid{
	
}

/* @media's */

@media ( min-width : 1200px) {
	#menu-topo {
		margin-top: 8%;
	}
}

@media ( max-width : 1200px) {
	#menu-topo {
		margin-top: 20px;
	}
}

@media (max-width: 912px){
	#menu-topo{
		font-size: 14px;
	}
}

@media (min-width: 1300px){
		
	#livro-view {
		width: 1050px;
	}
	
	#livro-view .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item{
		padding: 60px 60px 50px 60px;
		height: 720px;
		font-size: 18px;
	}
	
	#livro-view .texto-pagina, .pg-previa{
		height: 570px;
		overflow: hidden;
	}
	
	
	
	#livro-view .num-pagina p{
		font-size: 18px;
	}
}

/*CONFIGURAÇÕES COL-XS*/
@media ( min-width : 768px) and (max-width: 1300px){
	#logo img {
		float: none;
	}
	#conteudo {
		margin-top: 20px;
	}
	#menu-topo{
		font-size: 18px;
	}
	
	.opt-int{
		font-size: 20px;
	}
	
	#livro-view{
		width: 750px;
	}
	
	#livro-view .ui-carousel-header-title{
		font-size: 14px;
	}
	
	#livro-view .ui-carousel-viewport{
		heigth: 520px;
	}
	
	#livro-view .ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item{
		padding: 40px 40px 50px 40px;
		height: 520px;
		font-size: 13px;
	}
	
	#livro-view .texto-pagina, .pg-previa{
		height: 400px;
		overflow: hidden;
	}
	
	.pg-previa{
		font-size: 13px;
		width: 292px;
	}
	
	#livro-view .num-pagina p{
		font-size: 14px;
	}
	
}

@media (max-width: 767px){
	#menu-topo{
		margin-top: 0;
	}
}

/*54px*/